@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@600&family=DM+Serif+Display:ital@0;1&family=Gloock&family=Nosifer&family=Noto+Sans+Kawi&family=Noto+Sans+TC:wght@500&family=Noto+Sans:wght@500&family=Open+Sans:wght@300;400;500;600&family=Poppins:wght@200&family=Raleway:wght@100;200;300;400&family=Roboto:wght@400;700&display=swap"
          rel="stylesheet">
    <!-- CSS -->
    <link href="~/Content/StyleSheet1.css" rel="stylesheet" />
</head>
<body>
    <nav class="cont">
        <div class="logo-section">
            <img class="logo" src="~/Images/mainlogo.png" alt="logo">
        </div>
        <img class="hamburger" src="~/Images/hamburger.png" alt="hamburger">
        <ul class="nav-list">
            <li>
                <a href="#">Skill Test</a>
            </li>
            <li>
                <a href="#">Premium Service</a>
            </li>
            <li>
                <a href="/Stud/Login">Login</a>
            </li>
            <li>
                <a href="#">Register</a>
            </li>
        </ul>
    </nav>

    <main>
        <div class="hero">
            <div class="hero__text-block">
                <div class="house-emoji">👨‍💻</div>
                <h1>Unlock potential with our institute's tailored courses and expert guidance.</h1>
                <div>
                    <h3 style="color: black;">Popular Services</h3>
                </div>
                <div class="hero__btn-block">
                    <button class="btn btn-success">Freshers</button>
                    <button class="btn btn-success">Full Stack Developer</button>
                    <button class="btn btn-secondary">Manual Testing</button>
                    <button class="btn btn-secondary">Sofware Engineer</button>
                </div>
            </div>
            <div class="hero__image-block">
                <img src="~/Images/side_image.png" alt="room">
            </div>
        </div>
    </main>

    <footer class="footer ">
        <a href="">© 2023 - CIIT</a>
    </footer>

</body>
</html>
